@import url('https://fonts.googleapis.com/css?family=Arimo|Open+Sans');

/* ==========================================================================
   Global styles: font, color and other global elements;
   ========================================================================== */
:root {
	--main-white: #ffffff;
	--main-black: #423E3A;
	--main-light-purple: #8D52FE; 
	--main-dark-purple: #6631FC; 
	--main-dark-grey: #BBBCD2;
	--main-light-grey: #EAEEF5;
}

h1{
	font-family: 'Arimo', sans-serif;
	text-align: center;
	background-color: var(--main-dark-purple);
	color: white;
	text-transform: uppercase;
	font-weight: bold;
}

h2{
	font-family: 'Arimo', sans-serif;
	text-align: center;
	margin-bottom: 50px;
}

h3{
	ffont-family: 'Open Sans', sans-serif;
	color: var(--main-dark-grey);
	font-size: 100px;
}

h4{
	font-family: 'Arimo', sans-serif;
	color: var(--main-dark-purple);
	font-size: 20px;
	font-weight: bold;
}

h5{
	font-family: 'Arimo', sans-serif;
	color: var(--main-black);
	font-weight: bold;
	font-size: 18px;
}

h6{
	font-family: 'Arimo', sans-serif;
	color: var(--main-dark-grey);
}

p{
	font-family: 'Open Sans', sans-serif;
	color: var(--main-black);
}

a:hover{
	cursor: pointer;
}

input[type=text],input[type=number],input[type=email] {
	border: none;
	border-bottom: 1px solid var(--main-dark-grey);
	width: 100%;
	background-color: transparent;
}

input[type=checkbox] {
	background-color: transparent;
}


input:focus{
	outline: none;
	color: var(--main-black);
}

button:focus{
	outline: none;
}

button:hover{
	cursor: pointer;
}

button{
	display: block;
	border: 1px solid black;
	border-radius: 9999em 9999em 9999em 9999em;
	position: relative;
}



/* ==========================================================================
   Regional styles: self-defined common classes across pages
   ========================================================================== */

.navbar{
	background-color: var(--main-dark-purple);
	padding-bottom: 30px;
}
.navbar-dark .navbar-nav .nav-link{
	color: white;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
	color: var(--main-dark-grey);
}

.navbar-dark .navbar-toggler{
	border-color: var(--main-white);
}

.btn-link:hover{
	color: inherit;
	text-decoration: none;
}

.block{
	margin-bottom: 40px;
}

.submit-btn{
	background-color: var(--main-dark-purple);
	color: white;
	border: none;
	margin-top: 60px;
	width: 100%;
	padding-top: 5%;
	padding-bottom: 5%
}

/* ==========================================================================
   Home page styles
   ========================================================================== */
.logInBox{
	background-color: white;
	padding: 15%;
	padding-top: 20%;
	padding-bottom: 20%;
	border-radius: 30px 30px 30px 30px;
}
.log-in{
	margin: auto;
	margin-top: 20vh;
	padding: 0px;
}

/* ==========================================================================
   Search page styles: search bar, filter box, result box;
   ========================================================================== */

/****Search bar****/
.search{
	margin-bottom: 50px;
}

.searchBox{
	background-color: var(--main-dark-purple);
	text-align: center;
}

.searchResult{
	margin: auto;
}

.searchBar{
	margin: auto;
	border-radius: 30px 30px 30px 30px;
	padding:1.1% 1% 1.1% 1%;
	margin-top: 70px;
	margin-bottom: 100px;
}

#ticketSearch{
	background-color: white;
}

.fa-search{
	color: var(--main-dark-purple);
	font-size: 40px;
	left: -100px;
	position: relative;
	top: 10px;
}


.filterBox{
	background-color: var(--main-light-grey);
	border-radius: 30px 30px 30px 30px;
	padding: 10%;
}

.searchFilter h6{
	color: var(--main-dark-purple);
}

/****Filter box****/
.filter{
	margin-top: 30px;
}

.filter-block{
	margin: auto;
}

.filter-block p{
	margin-left: 10px;
}


/****Result box****/
.noflight{
	text-align: center;
/*	padding-top: 60px;*/
}

p.noflight{
	color: var(--main-dark-grey);
}
.result{
	width: 100%;
}

.fa-plane{
	font-size: 50px;
	color: var(--main-light-purple);
}

.info{
	width: 100%;
	padding: 50px 10px 50px 10px;
	border-radius: 30px 30px 30px 30px;
	border: none;
	box-shadow: 2px 4px 10px var(--main-dark-grey);
	margin-left: 0px;
}

.booking{
	text-align: initial;
	padding: 30px;
	background-color: var(--main-black);
	border-radius: 30px 30px 30px 30px;
	width: 100%;
	margin: auto;
}

.booking-block{
	margin-top: 20px;
}

.booking-block input{
	color: var(--main-white);
}

.book-submit{
	border-radius: 9999em 9999em 9999em 9999em;
	padding: 10px;
	background-color: var(--main-white);
	color: var(--main-dark-purple);
}

/* ==========================================================================
   Search page styles: search bar, filter box, result box;
   ========================================================================== */

/****Sell box****/
.sellBox{
	height: 282px;
	background-color: var(--main-dark-purple);
}

.sell{
	margin: auto;
}

/****Sell Form****/
.sellInfo h6{
	color: var(--main-black);
}

.sellInfo input{
	border-bottom: 1px solid var(--main-black);
}

.sellInfo{
	text-align: initial;
	padding: 100px;
	border-radius: 30px 30px 30px 30px;
	width: 100%;
	box-shadow: 2px 4px 10px var(--main-dark-grey);
	margin-bottom: 100px;
	position: relative;
	top: -150px;
	background-color: white;
}

#sell-submit{
	border-radius: 9999em 9999em 9999em 9999em;
	padding: 10px;
	background-color: var(--main-dark-purple);
	color: var(--main-white);
	margin: auto;
	margin-top: 40px;
}

/* ==========================================================================
   Media Query: Responsive design;
   ========================================================================== */

 /****Mobile****/
 @media only screen and (max-width: 500px) {
 	#ticketSearch{
 		height: 50px;
 	}

 	.result{
 		padding: 0px;
 		margin-bottom: 20px;
 		margin-top: 20px;
 	}
 	.sellInfo{
 		padding: 50px;
 		padding-top: 100px;
 	}

 }

